In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [3]:
#Load Data
data = pd.read_csv("Dataset - Data Science - Task 2.csv")  
data.head()

     Make    Model  Year   Mileage Fuel Type Gearbox Type    Price
0  Toyota    Camry  2010  120000.0    Petrol       Manual   8000.0
1    Ford    Focus  2008  100000.0    Diesel       Manual   5000.0
2     BMW       X5  2015   80000.0    Petrol    Automatic  25000.0
3   Tesla  Model S  2017   60000.0  Electric    Automatic  45000.0
4    Ford    Focus  2005  150000.0    Diesel       Manual   3000.0

In [6]:
# Data Cleaning And Preprocessing
data.info()
data.shape

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10 entries, 0 to 9
Data columns (total 7 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Make          9 non-null      object
 1   Model         8 non-null      object
 2   Year          10 non-null     int64
 3   Mileage       9 non-null      float64
 4   Fuel Type     10 non-null     object
 5   Gearbox Type  9 non-null      object
 6   Price         9 non-null      float64
dtypes: float64(2), int64(1), object(4)
memory usage: 688.0+ bytes

(10, 7)

In [5]:
# Check Missing Values

data.isna().sum()

Make            1
Model           2
Year            0
Mileage         1
Fuel Type       0
Gearbox Type    1
Price           1
dtype: int64

In [17]:
# Filling Missing Values in Categorical Column with mode and Numerical with Mean
data['Make'] = data['Make'].fillna(data['Make'].mode()[0])
data['Model'] = data['Model'].fillna(data['Model'].mode()[0])
data['Gearbox Type'] = data['Gearbox Type'].fillna(data['Gearbox Type'].mode()[0])
pd.to_numeric(data['Mileage'])
pd.to_numeric(data['Price'])
data['Mileage'].fillna(int(data['Mileage'].mean()), inplace=True) 
data['Price'].fillna(int(data['Price'].mean()), inplace=True)

In [18]:
data.isna().sum()

Make            0
Model           0
Year            0
Mileage         0
Fuel Type       0
Gearbox Type    0
Price           0
dtype: int64

In [21]:
# Label Encoding for Catagorical Fetures

from sklearn.preprocessing import LabelEncoder


# Initialize LabelEncoder
label_encoder = LabelEncoder()

# Encode labels in column 'ProductOrDebtType'. 
data['Make']= label_encoder.fit_transform(data['Make']) 
data['Model']= label_encoder.fit_transform(data['Model']) 
data['Gearbox Type']= label_encoder.fit_transform(data['Gearbox Type']) 
data['Fuel Type']= label_encoder.fit_transform(data['Fuel Type']) 

data.head()

   Make  Model  Year   Mileage  Fuel Type  Gearbox Type    Price
0     3      0  2010  120000.0          2             1   8000.0
1     1      1  2008  100000.0          0             1   5000.0
2     0      4  2015   80000.0          2             0  25000.0
3     2      3  2017   60000.0          1             0  45000.0
4     1      1  2005  150000.0          0             1   3000.0

In [24]:
##Feature extration for machine learning classification.
# Splitting features and target variables from dataframe.
y = data['Gearbox Type']
X = data.drop(['Gearbox Type'], axis = 1)

In [26]:
y.value_counts()

1    6
0    4
Name: Gearbox Type, dtype: int64

In [25]:
from sklearn.preprocessing import MinMaxScaler
from sklearn.impute import SimpleImputer
from sklearn import metrics
from sklearn.metrics import roc_auc_score, roc_curve, accuracy_score, confusion_matrix, classification_report, plot_confusion_matrix
from sklearn.model_selection import cross_val_score, train_test_split, StratifiedKFold, RandomizedSearchCV, GridSearchCV, cross_val_predict
from sklearn.datasets import make_classification
from sklearn.ensemble import RandomForestClassifier
from sklearn.linear_model import LogisticRegression
from sklearn.svm import SVC
from sklearn.utils import shuffle
# Train and Test split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.20, random_state=42)

In [27]:
# Applying scaling on feature variables
scaler = MinMaxScaler()

X_train = scaler.fit_transform(X_train)
X_test = scaler.transform(X_test)

In [28]:
#Random Forest  Model
#Random Forest Classifier model with Train and Test split 
clf_base = RandomForestClassifier()

#Training the model
clf_base.fit(X_train,y_train)

RandomForestClassifier()

In [29]:
y_pred = clf_base.predict(X_test)

In [30]:
# Random Forest baseline model accuracy
print("RF Base line model accuracy:", metrics.accuracy_score(y_test, y_pred)*100)

RF Base line model accuracy: 100.0

In [31]:
# Random Forest baseline classification report
print(metrics.classification_report(y_test, y_pred))

              precision    recall  f1-score   support

           1       1.00      1.00      1.00         2

    accuracy                           1.00         2
   macro avg       1.00      1.00      1.00         2
weighted avg       1.00      1.00      1.00         2

In [32]:
## SVM Classifier 
# train the model on train set
model_base_SVM = SVC()
model_base_SVM.fit(X_train, y_train)
 
# print prediction results
y_pred_base = model_base_SVM.predict(X_test)
print(classification_report(y_test, y_pred_base))

              precision    recall  f1-score   support

           1       1.00      1.00      1.00         2

    accuracy                           1.00         2
   macro avg       1.00      1.00      1.00         2
weighted avg       1.00      1.00      1.00         2

In [33]:
test_accuracy_svm_base = accuracy_score(y_test,y_pred_base)*100

print("SVM accuracy for testing dataset without hyper parameter tuning is : {:.2f}%".format(test_accuracy_svm_base) )

SVM accuracy for testing dataset without hyper parameter tuning is : 100.00%

In [34]:
##Logistic Regression Classifier
#LR base model
lr_base_clf = LogisticRegression()

lr_base_clf.fit(X_train, y_train)

LogisticRegression()

In [35]:
# make predictions for test data
y_pred_lr_base = lr_base_clf.predict(X_test)

# LR base model accuracy
print("LR base model accuracy:", metrics.accuracy_score(y_test, y_pred_lr_base)*100)

LR base model accuracy: 100.0

Results: Getting 100% Acuuracy for all Classification and Regression Models. So need to apply any parameter tuning or feture selection